<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Checky.Common.Chatbot.Slack.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Checky.Common.Chatbot.Slack.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
  </log4net>
  <userSettings>
    <Checky.Common.Chatbot.Slack.Properties.Settings>
      <setting name="CacheAbsoluteExpirationTimeSpan_IEnumerableOfICloudBlob"
               serializeAs="String">
        <value />
      </setting>
    </Checky.Common.Chatbot.Slack.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Checky.Common.Chatbot.Slack.Properties.Settings>
      <setting name="CacheAbsoluteExpirationTimeSpan_EnvironmentDocument"
               serializeAs="String">
        <value>00:01:00</value>
      </setting>
      <setting name="CacheAbsoluteExpirationTimeSpan_HttpTestDocument"
               serializeAs="String">
        <value>00:01:00</value>
      </setting>
      <setting name="CacheAbsoluteExpirationTimeSpan_IEnumerableOfHttpTestDocument"
               serializeAs="String">
        <value>00:01:00</value>
      </setting>
    </Checky.Common.Chatbot.Slack.Properties.Settings>
  </applicationSettings>
</configuration>